.mqsm-navbar-container {
  height: $top-panel-height;
  .mqsm-top-navigation-group {
    height: $top-panel-height;
    .mqsm-status-wrapper {
      width: 100%;
      min-width: 700px;
      .mqsm-current-song-progress {

      }
      .mqsm-current-song-info {
        .mqsm-artist-album-info {
          font-size: $mqsm-small-font;
          white-space: nowrap;
        }
      }
    }
  }
}