.mqsm-playlist-add-rule-dialog {
  .mqsm-playlist-add-rule-dialog-body {
    min-height: 50px;
    min-width: 400px;
    .mqsm-manage-playlists-select-property {}
  }
  .mqsm-playlist-add-rule-dialog-footer {
    height: 40px;
  }
}